@value POP_ANIMATION_DURATION: 200ms;

.container {
    composes: resetTransparentBackgroundText from "../common/generalStyles.module.css";
    composes: greyOutlineForRoundedBorders from "../common/generalStyles.module.css";
    background-color: #fe9;
    padding: 0.3rem;
    border-radius: 2rem;
    border-style: solid;
    border-width: 0.2rem;
    border-color: #750;
    height: 100%;
    animation-name: popIn;
    animation-duration: POP_ANIMATION_DURATION;
    position: relative;
}

.container h1 {
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: "Allerta Stencil", sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    color: #fff8f1;
    background-color: #c58a36;
    border-radius: 2rem 2rem 0.5rem 0.5rem;
    border-style: dotted;
    border-color: #8b7f6d;
    border-width: 0.1rem;
}

.descriptionPane {
    padding-left: .8rem;
    padding-right: .8rem;
}

.description {
    font-family: "Alumni Sans", sans-serif;
    font-size: 2rem;
}

.mouth {
    background-image: url('images/billyMouth.png');
    width: 7.5rem;
    height: 3.6rem;
    display: inline-block;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

@keyframes popIn {
    from { width: 0; height: 0; top: 50%; left: 50%}
    to { width: 100%; height: 100%; top: 0; left: 0;}
}

@keyframes popOut {
    from { width: 100%; height: 100%; top: 0; left: 0;}
    to { width: 0; height: 0; top: 50%; left: 50%}
}

.changeSlide {
    animation-name: popOut;
    animation-duration: POP_ANIMATION_DURATION;
}
