.container {
    background-color: #00ff00;
    width: 100%;
    height: 100%;
    composes: transparentBackgroundText from "../common/generalStyles.module.css";
    alignment: center;
    overflow: hidden;
}